.rcw-launcher {
  background-color: #154585;
}
.rcw-header {
  background-color: #154585 !important;
}

.rcw-client {
  .rcw-message-text {
    background-color: #ACCBEA !important;
  }
}

.quick-button {
  border: 2px solid #ACCBEA !important;
}
